.content {
	display: flex;
	flex-direction: column;

	@media (min-width: 768px) {
		flex-direction: row;

		&__description {
			padding-top: 12px;
			max-width: 312px;
			margin-right: 48px;
		}
	}

	@media (min-width: 1120px) {
		&__description {
			max-width: 490px;
		}
	}
}
