header.header.container
	.burger
		svg.burger__icon
			use(xlink:href="img/sprites/sprite.svg#burger")
	.logo
		svg
			use(xlink:href="img/sprites/sprite.svg#logo")
	.header-menu__user-list
		svg
			use(xlink:href="img/sprites/sprite.svg#call")
		svg
			use(xlink:href="img/sprites/sprite.svg#chat")
		svg
			use(xlink:href="img/sprites/sprite.svg#profile")
	.header-menu__services
		svg
			use(xlink:href="img/sprites/sprite.svg#repair")
		svg
			use(xlink:href="img/sprites/sprite.svg#checkstatus")
