header.header.container
	.burger
		svg.burger__icon
			use(xlink:href="img/sprites/sprite.svg#burger")
	.logo
		svg
			use(xlink:href="img/sprites/sprite.svg#logo")
	.header-menu__user-list
		svg
			use(xlink:href="img/sprites/sprite.svg#call")
		svg
			use(xlink:href="img/sprites/sprite.svg#chat")
		svg
			use(xlink:href="img/sprites/sprite.svg#profile")
	.header-menu__services
		.header-menu__service-item
			span.header-menu__service-name Оставить заявку
			svg
				use(xlink:href="img/sprites/sprite.svg#repair")
		.header-menu__service-item
			span.header-menu__service-name Статус ремонта
			svg
				use(xlink:href="img/sprites/sprite.svg#checkstatus")
	h1.services__title Услуги и сервисы
