header.header
	.burger
		button.btn__modal.header-menu__btn.burger__btn
			svg
				use(xlink:href="img/sprites/sprite.svg#burger")
	.logo
		svg
			use(xlink:href="img/sprites/sprite.svg#logo")
	.header-menu__user-list
		button.btn__modal.header-menu__btn.header-menu__btn-call
			svg
				use(xlink:href="img/sprites/sprite.svg#call")
		button.btn__modal.header-menu__btn.header-menu__btn-feedback
			svg
				use(xlink:href="img/sprites/sprite.svg#chat")
		button.btn__modal.header-menu__btn.header-menu__btn-profile
			svg
				use(xlink:href="img/sprites/sprite.svg#profile")
	.header-menu__services
		a(href="#request").header-menu__service-item
			span.header-menu__service-name Оставить заявку
			button.btn__modal.header-menu__btn.header-menu__btn-request
				svg
					use(xlink:href="img/sprites/sprite.svg#repair")
		a(href="#checkstatus").header-menu__service-item
			span.header-menu__service-name Статус ремонта
			button.btn__modal.header-menu__btn.header-menu__btn-checkstatus
				svg
					use(xlink:href="img/sprites/sprite.svg#checkstatus")
	h1.services__title Услуги и сервисы
