.modalW.modal-feedback
	button.btn__modal.modal-feedback__btn-close.modalW__btn-close
		svg.modalW__icon-close
			use(xlink:href="img/sprites/sprite.svg#close")
	h2.modalW__title Обратная связь
	form.modalW__form
		input(type="text", placeholder="Имя").modalW__input
		input(type="text", placeholder="Телефон").modalW__input
		input(type="text", placeholder="Электронная почта").modalW__input
		textarea(placeholder="Сообщение").modalW__textarea
	p.modalW__text
		|Нажимая “отправить”, вы даете согласие на обработку персональных данных и соглашаетесь с нашей политикой конфиденциальности
	button.btn.btn__submit.modalW__btn-submit  ОТПРАВИТЬ
