.services {
	padding-top: 84px;
	background: #f8f8f8;

	@media (min-width: 1440px) {
		padding-top: 0;
	}

	&__title {
		position: absolute;
		z-index: 2;
		top: 110px;
		padding-left: 32px;
		margin-bottom: 24px;
		font-size: 28px;
		line-height: 40px;
		letter-spacing: -0.6px;
		font-family: $font-primary;

		@media (min-width: 1440px) {
			top: 17px;
		}
	}

	&__title::before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		width: 7px;
		height: 40px;
		background-image: url('../img/svg/highlight.svg');
		background-size: 7px 40px;
	}

	&__sub-title {
		display: none;
		font-size: 16px;
		line-height: 24px;
		font-family: $font-primary;
		letter-spacing: -0.2px;
		color: #7e7e82;
		margin-left: 56px;
		margin-bottom: 20px;

		@media (min-width: 1440px) {
			display: block;
		}
	}

	&__js-btn-shower {
		@media (max-width: 1110px) {
			display: none;
		}
	}
}
