.services {


	padding-top:84px;
	background: #F8F8F8;
	// min-height:100vh;

	&__title {
		position: absolute;
		padding-left: 32px;
		margin-bottom: 24px;
		font-size: 28px;
		line-height: 40px;
		letter-spacing: -0.6px;
		font-family: 'TT Lakes Bold';
		top: 110px;
		z-index: 2;
		@media (min-width:1120px) {
			top: 17px;
		}
	}
	&__title::before {
		content: " ";
		display:block;
		width: 7px;
		height: 40px;
		position: absolute;
		background-image: url('../img/svg/highlight.svg');
		background-size: 7px 40px;
		left: 0;
	}


	&__sub-title {
		display:none;
		font-size: 16px;
		line-height: 24px;
		font-family: 'TT Lakes Regular';
		letter-spacing: -0.2px;
		color: #7E7E82;
		margin-left: 56px;
		margin-bottom: 20px;

		@media (min-width:1120px) {
		display: block;
		}
	}

	@media (min-width:1120px) {
		padding-top:0;
	}
}

