section.services.container
	include ../../components/sub-menu/sub-menu
	.content
		//-p.services__sub-title Отзывы
		.content__description.items-box
			.content__description-wrapper.items-box__wrapper.items-box__wrapper--show_on_mobile
				p.text
					|Мы являемся авторизованным сервисным центром по ремонту техники Dell.
					|Только у нас вы можете отремонтировать свой ноутбук Dell с официальной гарантией производителя.
				p.text
					| Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера
					|Мы являемся авторизованным сервисным центром по ремонту техники Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с официальной гарантией производителя.

				p.text
					|Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера
			a(href="#").link-more.link-more--show_on_mobile.services__js-btn-shower Читать далее
		.content__images
			picture
				source(type="image/webp" media="(min-width: 767px)", srcset="img/mg_3223-tablet@1x.webp 1x, img/mg_3223-tablet@2x.webp 2x")
				source(media="(min-width: 767px)", srcset="img/mg_3223-tablet@1x.png 1x, img/mg_3223-tablet@2x.png 2x")
				source(type="image/webp" media="(min-width: 1120px)", srcset="img/mg_3223-desktop@1x.webp 1x, img/mg_3223-desktop@2x.webp 2x")
				source(media="(min-width: 1120px)", srcset="img/mg_3223-desktop@1x.png 1x, img/mg_3223-desktop@2x.png 2x")
				img(src="img/mg_3223-mobile@1x.png", srcset="img/mg_3223-mobile@2x.png 2x")

