.modals
	include ../../components/modal-feedback/modal-feedback
	include ../../components/modal-call/modal-call
	include ../../components/modal-profile/modal-profile
	include ../../components/modal-request/modal-request
	include ../../components/modal-status/modal-status
