.header-menu {
	&__user-list,
	&__services {
		display: flex;
		svg {
			width: 40px;
			height: 40px;
			margin-right: 16px;
		}
		@media (min-width: 1440px) {
			margin-left: auto;
		}
	}
	&__service-item {
		display: flex;
		align-items: center;
	}
	&__service-name {
		display: none;
		font-family: 'TT Lakes Medium';
		letter-spacing: -0.2px;
		color: #1b1c21;
		font-size: 16px;
		line-height: 24px;
		@media (min-width: 1440px) {
			display: inline;
			margin-right: 10px;
		}
	}

	&__user-list {
		display: none;
		position: relative;
		@media (min-width: 768px) and (max-width: 1435px) {
			display: flex;
		}
	}

	&__user-list::after {
		content: ' ';
		display: block;
		position: absolute;
		top: 5px;
		right: 0;
		width: 2px;
		height: 32px;
		background-color: #eaeaea;
	}
}
