.header-menu {
	&__user-list,
	&__services {
		display:flex;
		svg {
			width: 40px;
			height: 40px;
			margin-right:16px;
		}
	}

	&__service-name {
		display:none;
		@media (min-width:1120) {
			display:inline;
		}
	}

	&__user-list {
		display:none;
		@media (min-width: 768px) {
			display:flex;
		}
	}

}
