.sub-menu {
	padding: 0 16px;

	&__list {
		display: flex;
		//max-width: 980px;
		overflow-x: scroll;
		padding-bottom: 10px;
		-ms-overflow-style: none;
		scrollbar-width: none;
		flex-wrap: wrap;
	}

	&__list::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	&__item {
		white-space: nowrap;
		padding: 8px 12px;
	}

	&__item--active {
		border: 2px solid #b8ffec;
		border-radius: 6px;
		background: #ffffff;
	}

	&__link {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		font-family: 'TT Lakes Regular';
		color: #7e7e82;
	}
}
