nav.sub-menu
	ul.sub-menu__list
		li.sub-menu__item.sub-menu__item--active
			a.sub-menu__link Ремонтируемые бренды
		li.sub-menu__item
			a.sub-menu__link Дополнительные услуги
		li.sub-menu__item
			a.sub-menu__link Цены на услуги
		li.sub-menu__item
			a.sub-menu__link Адреса сервисных центров
		li.sub-menu__item
			a.sub-menu__link Специальные цены
		li.sub-menu__item
			a.sub-menu__link Отзывы
