section.repair.container
	h2.repair__title Ремонт различных видов техники
	.swiper.repair__swiper.items-box
		.swiper-wrapper.repair__wrapper.items-box__wrapper
			.swiper-slide.repair__item Ремонт ноутбуков
			.swiper-slide.repair__item Ремонт планшетов
			.swiper-slide.repair__item Ремонт ПК
			.swiper-slide.repair__item Ремонт  мониторов
		.swiper-pagination
	a.link-more.repair__js-btn-shower Показать все
