section.repair.container
	h2.repair__title Ремонт различных видов техники
	.swiper.repair__swiper
		.swiper-wrapper.repair__wrapper
			.swiper-slide.repair__item Ремонт ноутбуков
			.swiper-slide.repair__item Ремонт планшетов
			.swiper-slide.repair__item Ремонт ПК
			.swiper-slide.repair__item Ремонт  мониторов
		.swiper-pagination
	a.repair__btn.repair__js-btn-show Показать все
