.logo {
	//padding-right: 16px;
	margin-right: auto;
	position: relative;

	svg {
		width: 97px;
		height: 50px;
	}

	&::after {
		content: ' ';
		display: block;
		position: absolute;
		top: 12px;
		right: -20px;
		width: 2px;
		height: 32px;
		background-color: #eaeaea;

		@media (min-width: 768px) {
			right: 125px;
		}
	}

	@media (min-width: 768px) {
		//margin-left: 25px;
		margin-right: 200px;
	}

	@media (min-width: 1440px) {
		display: none;
	}
}
