.logo {
	padding-right: 16px;
	position: relative;

	@media (min-width: 768px) {
		margin-right: 250px;
	}

	@media (min-width: 1440px) {
		display: none;
	}

	&::after {
		content: ' ';
		display: block;
		position: absolute;
		top: 12px;
		right: 0;
		width: 2px;
		height: 32px;
		background-color: #eaeaea;

		@media (min-width: 768px) {
			right: 125px;
		}
	}

	svg {
		width: 97px;
		height: 50px;
	}
}
