.logo {
	padding-right: 16px;
	position: relative;

	@media (min-width: 768px) {
		margin-right: 250px;
	}

	@media (min-width: 1120px) {
		display: none;
	}

	&::after {
		display: block;
		content: " ";
		width: 2px;
		height: 32px;
		background-color: #EAEAEA;
		position: absolute;
		right: 0;
		top: 12px;

		@media (min-width: 768px) {
			right: 125px;
		}
	}

	svg {
		height: 50px;
		width: 97px;
	}
}
