section.brands.container
	h2.brands__title Ремонт различных видов техники
	.swiper.brands__swiper
		.swiper-wrapper.brands__wrapper
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
		.swiper-pagination
	a.brands__btn.brands__js-btn-show Показать все

