section.brands.container
	h2.brands__title Ремонт техники различных брендов
	.swiper.brands__swiper.items-box
		.swiper-wrapper.brands__wrapper.items-box__wrapper
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				img(src='../img/content/lenovo_logo.png')
		.swiper-pagination
	a.link-more.brands__js-btn-shower Показать все
	//- a.brands__btn.brands__js-btn-show Показать все

