section.brands.container
	h2.brands__title Ремонт техники различных брендов
	.swiper.brands__swiper.items-box
		.swiper-wrapper.brands__wrapper.items-box__wrapper
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/lenovo_logo.webp")
					img(src='../img/content/lenovo_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/apple_logo.webp")
					img(src='../img/content/apple_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/bosh_logo.webp")
					img(src='../img/content/bosh_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/hp_logo.webp")
					img(src='../img/content/hp_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/samsung_logo.webp")
					img(src='../img/content/samsung_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/sony_logo.webp")
					img(src='../img/content/sony_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/viewsonic_logo.webp")
					img(src='../img/content/viewsonic_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/acer_logo.webp")
					img(src='../img/content/acer_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/asus_logo.webp")
					img(src='../img/content/asus_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/hiaomi_logo.webp")
					img(src='../img/content/hiaomi_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/ibm_logo.webp")
					img(src='../img/content/ibm_logo.png')
			.swiper-slide.brands__item
				picture
					source(type="image/webp", srcset="../img/content/dell_logo.webp")
					img(src='../img/content/dell_logo.png')
		.swiper-pagination
	a.link-more.brands__js-btn-shower Показать все
	//- a.brands__btn.brands__js-btn-show Показать все

