extends layouts/default
include helpers/mixins

block variables
	- const title = "cps - kata eductation maket"
block content
	include ../blocks/components/main-menu/main-menu
	include ../blocks/modules/header/header
	main
		include ../blocks/modules/services/services
		include ../blocks/modules/brands/brands
		include ../blocks/modules/repair/repair
		include ../blocks/modules/price/price
	include ../blocks/modules/footer/footer
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
