extends layouts/default
include helpers/mixins

block variables
	- const title = "cps - kata eductation maket"

block content
	include ../blocks/modules/header/header
	main
		include ../blocks/modules/services/services
	include ../blocks/modules/footer/footer

block scripts

