extends layouts/default
include helpers/mixins

block variables
	- const title = "CPS - Demonstration layout (markup, coding)"
block content
	.overlay-cat
	include ../blocks/components/main-menu/main-menu
	include ../blocks/modules/header/header
	main
		include ../blocks/modules/services/services
		include ../blocks/modules/brands/brands
		include ../blocks/modules/repair/repair
		include ../blocks/modules/price/price
	include ../blocks/modules/footer/footer
	include ../blocks/modules/modals/modals
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
