.search {
	height: 40px;
	position: absolute;
	top: 23px;
	right: 15px;
	width: 55px;
	display: flex;
	justify-content: flex-end;
	transition: width 0.5s linear 0.1s;

	&__inner-box {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__input {
		border: 1px solid #1b1c21;
		outline: none;
		border-radius: 8px;
		position: relative;
		right: -20px;
		opacity: 0;
		transition: opacity 0.5s linear 0.15s;
		width: 87.2%;
		height: 35px;
		top: 3px;
	}

	&__input--active {
		left: 1px;
	}

	&__error {
		border: 1px solid red;
	}
}
