.main-menu {
	display: flex;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	height: 100vh;
	flex-direction: column;
	left: 0;
	top: 0;
	z-index: 995;
	background: #ffffff;
	min-width: 320px;
	transition: opacity 0.3s, visibility 0s linear 0.3s;
	@media (min-width: 360px) {
		min-width: 360px;
	}

	&__js-is-active {
		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
		display: flex;
		z-index: 999;
	}

	@media (min-width: 768px) {
		min-width: 320px;
		box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
	}

	@media (min-width: 1440px) {
		//display: flex;
		visibility: visible;
		opacity: 1;
		box-shadow: none;
	}

	&__user-list,
	&__btn-close,
	&__btn-search {
		svg {
			width: 40px;
			height: 40px;
			transition: opacity 0.3s;
			opacity: 0.7;
			cursor: pointer;
		}

		svg:hover {
			opacity: 1;
		}
	}

	&__header {
		display: flex;
		position: relative;
		align-items: center;
		padding: 18px 23px 45px;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		margin-bottom: 32px;
		padding-left: 24px;
		position: relative;
	}

	&__item--active::before {
		content: ' ';
		display: block;
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 4px;
		height: 32px;
		background-image: url('../img/svg/highlight.svg');
		background-size: 4px 32px;
	}

	&__link {
		font-family: 'TT Lakes Regular';
		letter-spacing: -0.2px;
		color: #1b1c21;
		font-size: 16px;
	}

	&__btn-close {
		margin-right: 18px;
		@media (min-width: 1440px) {
			display: none;
		}
	}

	&__logo {
		width: 97px;
		height: 50px;
		margin-right: 80px;
		transition: opacity 0.5s linear 0.1s;
	}

	&__btn-search {
		width: 40px;
		height: 40px;
		position: relative;
		z-index: 2;
		background-color: #fff;
		border-radius: 20px;
	}

	@media (max-width: 1439px) {
		&__header.main-menu__search-active > &__logo {
			opacity: 0;
		}
	}

	&__header.main-menu__search-active .search {
		width: 200px;
	}

	&__header.main-menu__search-active .search__input {
		opacity: 1;
	}

	&__user-list {
		display: flex;
		padding-bottom: 16px;
		width: 153px;

		svg {
			margin-right: 16px;
			width: 40px;
			height: 40px;
			opacity: 0.7;
		}
	}

	&__btn {
		margin-right: 16px;
	}
	&__btn:last-child {
		margin-right: 0;
	}

	&__mailto {
		font-family: 'TT Lakes Medium';
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		padding-bottom: 12px;
	}

	&__call {
		font-family: 'TT Lakes Bold';
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.6px;
		padding-bottom: 20px;
	}

	&__lan {
		padding-bottom: 32px;
	}

	&__footer {
		padding-left: 24px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: auto 0;

		.main-menu__link {
			margin-right: 7px;
		}
	}
}
