.main-menu {
	display: none;
	flex-direction: column;
	max-width: 320px;
	min-height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	background: #ffffff;

	&__js-is-active {
		display: flex;
	}

	@media (min-width: 768px) {
		box-shadow: 2px 0px 4px rgba (69, 79, 126, 0.02), 16px 0px 52px rgba (14, 24, 80, 0.2);
	}

	@media (min-width: 1440px) {
		display: flex;
	}

	&__user-list,
	&__btn-close,
	&__btn-search {
		svg {
			width: 40px;
			height: 40px;
			transition: opacity 0.3s;
			opacity: 0.7;
			cursor: pointer;
		}

		svg:hover {
			opacity: 1;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		padding: 18px 23px 45px;
	}

	&__body {
		flex-grow: 1;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		margin-bottom: 32px;
		padding-left: 24px;
		position: relative;
	}

	&__item--active::before {
		content: ' ';
		display: block;
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 4px;
		height: 32px;
		background-image: url('../img/svg/highlight.svg');
		background-size: 4px 32px;
	}

	&__link {
		font-family: 'TT Lakes Regular';
		letter-spacing: -0.2px;
		color: #1b1c21;
		font-size: 16px;
	}

	&__btn-close {
		margin-right: 18px;
		@media (min-width: 1440px) {
			display: none;
		}
	}

	&__logo {
		width: 97px;
		height: 50px;
		margin-right: 80px;
	}

	&__btn-search {
		width: 40px;
		height: 40px;
	}

	&__user-list {
		display: flex;
		padding-bottom: 16px;

		svg {
			margin-right: 16px;
			width: 40px;
			height: 40px;
			opacity: 0.7;
		}
	}

	&__mailto {
		font-family: 'TT Lakes Medium';
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		padding-bottom: 12px;
	}

	&__call {
		font-family: 'TT Lakes Bold';
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.6px;
		padding-bottom: 40px;
	}

	&__lan {
		padding-bottom: 32px;
	}

	&__footer {
		padding-left: 24px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.main-menu__link {
			margin-right: 7px;
		}
	}
}
