.main-menu
	.main-menu__header
		.main-menu__btn-close
			svg.main-men__icon
				use(xlink:href="img/sprites/sprite.svg#close")
		.main-menu__logo
			svg
				use(xlink:href="img/sprites/sprite.svg#logo")
		.main-menu__btn-search
			svg
				use(xlink:href="img/sprites/sprite.svg#search")
	.main-menu__body
		ul.main-menu__list
			li.main-menu__item.main-menu__item--active
				a(href='#').main-menu__link Ремонт техники
			li.main-menu__item
				a(href='#').main-menu__link Услуги и сервисы
			li.main-menu__item
				a(href='#').main-menu__link Корпоративным клиентам
			li.main-menu__item
				a(href='#').main-menu__link Продавцам техники
			li.main-menu__item
				a(href='#').main-menu__link Партнерам
			li.main-menu__item
				a(href='#').main-menu__link Производителям
			li.main-menu__item
				a(href='#').main-menu__link Наши сервисные центры
			li.main-menu__item
				a(href='#').main-menu__link Контакты
	.main-menu__footer
		.main-menu__user-list
			svg
				use(xlink:href="img/sprites/sprite.svg#call")
			svg
				use(xlink:href="img/sprites/sprite.svg#chat")
			svg
				use(xlink:href="img/sprites/sprite.svg#profile")
		.main-menu__mailto mail@cps.com
		.main-menu__call 8 800 890 8900
		.main-menu__lan
			a(href='#').main-menu__link RU
			a(href='#').main-menu__link EN
			a(href='#').main-menu__link CH

