.items-box {
	&__wrapper {
		padding: 20px 0;

		@media (min-width: 768px) {
			box-sizing: border-box;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			max-height: 190px;
			margin-bottom: 30px;
			overflow: hidden;
			transition: max-height 0.55s ease-out;
		}
	}

	&__wrapper--show_on_mobile {
		overflow: hidden;
		max-height: 190px;
	}

	&__wrapper--expanded {
		@media (min-width: 768px) {
			max-height: 1200px;
			transition: max-height 0.45s ease-in;
		}
	}

	&__wrapper--expanded {
		max-height: 1200px;
		transition: max-height 0.45s ease-in;
	}
}
