.overlay-cat.active {
	display: block;
}
.overlay-cat {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	//	background-color: rgba(0, 0, 0, 0.8);
	background-color: rgba(rgb(255, 255, 255), 0.99);
	mix-blend-mode: normal;
	opacity: 0.86;
	display: none;
	z-index: 997;
}
