.price {
	padding: 0 40px 0 30px;

	&__title {
		font-size: 16px;
		line-height: 24px;
		font-family: 'TT Lakes Regular';
		font-size: 16px;
		line-height: 24px;
		color: #7e7e82;
		letter-spacing: -0.2px;
		text-transform: uppercase;
		color: #7e7e82;
		@media (min-width: 768px) {
			margin-bottom: 47px;
		}
	}
	&__price-description {
		font-family: 'TT Lakes Regular';
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: #1b1c21;
		margin: 10px 0;
	}

	&__item {
		background: #ffffff;
		border-radius: 6px;
		width: 260px;
		height: 200px;
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-between;
		padding: 16px;
		box-sizing: border-box;
		flex-direction: column;
		@media (min-width: 768px) {
			width: 100%;
			height: auto;
			align-items: center;
			flex-direction: row;
		}
		p,
		span {
			font-size: 14px;
			line-height: 18px;
			font-family: 'TT Lakes Regular';
			letter-spacing: 0.2px;
			color: #1b1c21;
		}

		span {
			@media (min-width: 768px) {
				display: none;
			}
		}
	}

	&__item-name,
	&__item-cost,
	&__item-time {
		max-width: 229px;
		min-width: 90px;
	}

	&__item-name {
		@media (min-width: 768px) {
			width: 348px;
		}
	}

	&__item-btn {
		position: relative;
		background: #ff3e79;
		border-radius: 16px;
		letter-spacing: -0.15px;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 24px;
		font-family: 'TT Lakes Medium';
		color: #fff;
		padding: 4px 12px;
		padding-right: 30px;
		//	margin-left: auto;
		align-self: end;
	}
	&__item-btn::after {
		content: '›';
		display: flex;
		align-items: baseline;
		justify-content: center;
		position: absolute;
		top: 10%;
		right: 5px;
		width: 10px;
		height: 10px;
		transform: translate(0, -50%);
		color: #fff;
		font-size: 34px;
		line-height: 33px;
		font-weight: 700;
	}

	&__wrapper {
		//		margin-bottom: 30px;
		min-height: 240px;
	}

	&__services-header {
		display: none;
		@media (min-width: 768px) {
			display: table;
			width: 100%;
		}
	}
	&__services-name {
		padding-left: 20px;
	}
	&__services-name,
	&__services-cost,
	&__services-time {
		width: 245px;
	}

	&__services-cost {
		padding-left: 80px;
	}
}
