.price {
	padding: 30px;

	&__title {
		font-size: 16px;
		line-height: 24px;
		font-family: 'TT Lakes Regular';
		font-size: 16px;
		line-height: 24px;
		color: #7e7e82;
		letter-spacing: -0.2px;
		text-transform: uppercase;
		margin-bottom: 47px;
		color: #7e7e82;
	}

	&__item {
		background: #ffffff;
		border-radius: 6px;
		width: 260px;
		height: 200px;
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-between;
		padding: 16px;
		box-sizing: border-box;
		flex-direction: column;
		@media (min-width: 768px) {
			width: 100%;
			height: auto;
			align-items: center;
			flex-direction: row;
		}
		p,
		span {
			font-size: 14px;
			line-height: 18px;
			font-family: 'TT Lakes Regular';
			letter-spacing: 0.2px;
			color: #1b1c21;
		}

		span {
			@media (min-width: 768px) {
				display: none;
			}
		}
	}

	&__item-name,
	&__item-cost {
		max-width: 229px;
	}

	&__item-name {
		@media (min-width: 768px) {
			min-width: 348px;
			margin-right: 25px;
		}
		@media (min-width: 1440px) {
			margin-right: 122px;
		}
	}

	&__item-cost {
		@media (min-width: 768px) {
			max-width: 82px;
			margin-right: 45px;
		}
		@media (min-width: 1440px) {
			margin-right: 175px;
		}
	}

	&__item-btn {
		position: relative;
		background: #ff3e79;
		border-radius: 16px;
		letter-spacing: -0.15px;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 24px;
		font-family: 'TT Lakes Medium';
		color: #fff;
		padding: 4px 12px;
		padding-right: 30px;
		margin-left: auto;
		align-self: end;
	}
	&__item-btn::after {
		content: '›';
		display: flex;
		align-items: baseline;
		justify-content: center;
		position: absolute;
		top: 10%;
		right: 5px;
		width: 10px;
		height: 10px;
		transform: translate(0, -50%);
		color: #fff;
		font-size: 34px;
		line-height: 33px;
		font-weight: 700;
	}

	&__wrapper {
		height: auto;
		max-height: none !important;
	}

	&__services-header {
		display: flex;
	}

	&__services-name {
		min-width: 348px;
		margin-right: 45px;
		@media (min-width: 1440px) {
			margin-right: 145px;
		}
	}

	&__services-cost {
		max-width: 82px;
		margin-right: 45px;
		@media (min-width: 1440px) {
			margin-right: 180px;
		}
	}
}
