section.price.container
	h2.price__title Цены на услуги
	.swiper.price__swiper.items-box
		table.price__services-header
			tr
				td.price__services-name Ремонтные услуги
				td.price__services-cost Цена
				td.price__services-time  Срок
		.swiper-wrapper.items-box__wrapper.price__wrapper
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Диагностика
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30 мин
				.price__item-btn Заказать
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Замена дисплея
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30-120 мин
				.price__item-btn Заказать
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Замена полифонического динамика
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30-120 мин
				.price__item-btn Заказать
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Тестирование с выдачей технического заключения
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30-120 мин
				.price__item-btn Заказать
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Замена программного обеспечения
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30-120 мин
				.price__item-btn Заказать
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Замена программного обеспечения
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30-120 мин
				.price__item-btn Заказать
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Замена программного обеспечения
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30-120 мин
				.price__item-btn Заказать
			.swiper-slide.price__item
				.price__item-name
					span Ремонтные услуги
					p Замена программного обеспечения
				.price__item-cost
					span Цена
					p 1 000 ₽
				.price__item-time
					span Срок
					p 30-120 мин
				.price__item-btn Заказать
		.swiper-pagination
	.price__price-description
		|Все цены указаны с учетом НДС. Стоимость ремонта указана на единичную услугу. Для получения коммерческого предложения на постоянное обслуживание, оставьте заявку.
	a.link-more.price__js-btn-shower Показать все
	a.link-more__inner-pages Получить коммерческое предложение
