.link-more {
	display: none;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1b1c21;
	font-family: 'TT Lakes Medium';
	padding-left: 24px;
	margin-left: 24px;
	@media (min-width: 768px) {
		display: block;
	}

	&::before {
		content: ' ';
		display: block;
		position: absolute;
		top: 6px;
		left: 0;
		width: 8px;
		height: 11px;
		background-image: url('../img/svg/arrow-down.svg');
		background-size: 8px 11px;
	}

	&--expanded::before {
		transform: rotate(180deg);
	}
	&--show_on_mobile {
		display: block;
	}

	&__inner-pages {
		margin: 20px 0;
		font-family: 'TT Lakes Medium';
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
		position: relative;
		padding-left: 10px;
		display: block;
	}
	&__inner-pages::after {
		content: ' ';
		display: block;
		position: absolute;
		width: 8px;
		height: 11px;
		top: 6px;
		left: 310px;
		background: #ff3e79 url('../img/svg/arrow-down.svg');
		background-size: 8px 11px;
		transform: rotate(270deg);
	}
}
