footer.footer.container
	.footer__text
		p  © 2019 CPS
		p Разработано командой
	.footer__text
		p Политика конфиденциальности
	.footer__text
		p Информация, размещенная на данной странице, не является публичной офертой
.overlay-cat
